<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.love_cookies.e_tourism">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读文件权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 写文件权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".E_TourismApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/CookieTheme">

        <!-- 设计稿尺寸 1920x1080 -->
        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />

        <activity android:name=".View.Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".View.Activity.MainActivity" />

        <activity android:name=".View.Activity.LoginActivity" />

        <activity android:name=".View.Activity.RegisterActivity" />

        <activity android:name=".View.Activity.ResetPasswordActivity" />

        <activity android:name=".View.Activity.SurroundDetailActivity" />

        <activity
            android:name=".View.Activity.AddPlanActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <activity
            android:name=".View.Activity.PostCircleActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <activity android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"  />

        <activity android:name=".View.Activity.VersionActivity" />

    </application>

</manifest>